<% if flash[:notice] -%>
  <div class = "alert alert-warning"><%= flash[:notice] %></div>
<% end %>

<div class="col-md-8">
  <div class="text-center">
    <h1>
      Lista Alumnos
      <%= link_to 'Nuevo Alumno', new_alumno_path, :class => "btn btn-success" %>
    </h1>

    <div class="row">

      <div class="col-md-12">
        <%= form_tag(alumnos_path, :method => "get", id: "input_form") do %>
          <%= autocomplete_field_tag 'input_buscar', '', alumnos_autocomplete_alumno_nombres_path,
          :class => "form-control", placeholder: "Buscar por: Nombre, Apellidos, Rut, Curso" %>
        <% end %>
      </div>

    </div>

    <script type="text/javascript" charset="utf-8">
    $( document ).ready(function() {
      $('#input_buscar').bind("railsAutocomplete.select", function(event, data){
        $('#input_form').submit();
      })
    });
    </script>


  </div>
  <br>
  <table class="table table-hover">
    <tr  class="success">
      <th>Nombre</th>
      <th>Rut</th>
      <th>Curso</th>
      <th colspan="2">N° Alumnos: <%= @alumnos.count %></th>
    </tr>

    <tbody id="alum_body">
      <% @alumnos.take(20).each do |alumno| %>
        <tr>
          <td><%= "#{alumno.nombre_completo}" %></td>
          <td><%= alumno.rut %></td>
          <td><%= alumno.curso %></td>

          <td><%= link_to 'Ver', alumno %></td>
          <td><%= link_to 'Editar', edit_alumno_path(alumno) %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-4">
  <div class="text-center">
    <h1>
      Lista Reportes
    </h1>

  </div>
  <div class="col-md-12">
    <ol>
      <li><%= link_to 'Lista matricula por Curso', reporte_path(format: :pdf, :tipo => 'por_curso') %></li>
      <li><%= link_to 'Matricula por genero', reporte_path(format: :pdf, :tipo => 'genero') %>
        <ul><li><%= link_to 'Alumnos Prioritarios', reporte_path(format: :pdf, :tipo => 'prioritario_genero') %></li></ul>
        <ul><li><%= link_to 'Alumno Preferentes', reporte_path(format: :pdf, :tipo => 'preferente_genero') %></li></ul>
      </li>
      <li><%= link_to 'N° personas en el hogar', reporte_path(format: :pdf, :tipo => 'numero_hogar') %></li>
      <li><%= link_to 'Alumnos con descendencia indigena', reporte_path(format: :pdf, :tipo => 'lista_etnia') %></li>
      <li> <%= link_to 'Tuicion Vivienda', reporte_path(format: :pdf, :tipo => 'tuicion_vivienda') %> </li>
    </ol>
    <br>
  </div>


  <%= form_tag :upload , :multipart => true do %>
  <div class="col-md-8">
    <%= file_field_tag "file", accept: 'text/xml', class: 'form-control' %>

  </div>
  <%= submit_tag "Subir", class: "btn btn-warning" %>
  <% end %>

</div>
  <%= pie_chart Alumno.group(:problema_aprendizaje).count, width: "600px", height: "300px" %>

<br>
