<% if flash[:notice] -%>
  <div class = "alert alert-warning"><%= flash[:notice] %></div>
<% end %>
<div class="col-md-8">
  <div class="text-center">
    <h1>
      Lista Alumnos
      <%= link_to 'Nuevo Alumno', new_alumno_path, :class => "btn btn-success" %>
    </h1>

    <div class="row">

      <div class="col-md-12">
        <%= form_tag(alumnos_path, :method => "get", id: "search-form") do %>

          <%= text_field_tag :search, params[:search], class: "search-query form-control",
              placeholder: "Buscar por Nombre, Apellidos, Rut", type: "search",
              data: {autocomplete: alumnos_autocomplete_alumno_nombres_path} %>

        <% end %>
      </div>

    </div>

    <script type="text/javascript" charset="utf-8">

      $('#search').bind('railsAutocomplete.select', function(event, data){
        $('#search-form').submit()
      });
    </script>


  </div>
  <br>
  <table class="table table-hover">
    <tr  class="success">
      <th>Nombre</th>
      <th>Rut</th>
      <th>Curso</th>
      <th colspan="3"></th>
    </tr>

    <tbody id="alum_body">
      <% @alumnos.take(20).each do |alumno| %>
        <tr>
          <td><%= "#{alumno.nombre_completo}" %></td>
          <td><%= alumno.rut %></td>
          <td><%= alumno.curso %></td>

          <td><%= link_to 'Ver', alumno %></td>
          <td><%= link_to 'Editar', edit_alumno_path(alumno) %></td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-md-4">
  <div class="text-center">
    <h1>
      Lista Informes
    </h1>

  </div>

  <%= form_tag :upload , :multipart => true do %>
  <div class="col-md-8">
    <%= file_field_tag "file", accept: 'text/xml', class: 'form-control' %>

  </div>
  <%= submit_tag "Subir", class: "btn btn-warning" %>
  <% end %>

</div>

<br>
