<%= wicked_pdf_stylesheet_link_tag "reportes" %>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<div class="container">
  <div class="row">
    <div style="text-align: center;">
      <h3><b><%= @titulo %></b></h3>
    </div>
    <br><br>
  </div>

<div class="row">

  <div class="col-xs-6">
    <table class="table table-striped table-bordered">
      <tr>
        <th>Numero Alumnos</th>
        <th>Numero Personas</th>
      </tr>

      <tbody>
        <% @lista.group_by(&:numero_personas).each do |a, alumnos| %>
          <tr>
            <td><%= alumnos.count %></td>
            <td><%= a %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>
  <div class="col-xs-6">
    <%= pie_chart @lista.group(:numero_personas).count,
    width: "500px", height: "200px",
    label: "Value"
    %>
  </div>

</div>

</div>
