<%= wicked_pdf_stylesheet_link_tag "reportes" %>
<style media="screen">
table{
  font-size: 12px;
   border-collapse: collapse;
}

</style>

<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<div class="container">
  <div style="text-align: center;">
    <h3><b><%= @titulo %></b></h3>
  </div>
  <br><br>


  <% @lista.order(:curso).group_by(&:curso).each do |curso, alumnos|
    alum_curso = Alumno.where(curso: curso, subencion: @tipo)

  %>
    <div class="row text-center">
      <h4><%= "#{curso}" %></h4>
      <br>
      <div class="col-xs-6">

      </div>
      <div class="col-xs-6">

      </div>
      <table class="table table-striped table-bordered">
        <thead>
          <th>Nombre</th>
          <th>Rut</th>
          <th>Genero</th>
          <th>Estado</th>
        </thead>
        <tbody>
          <% alumnos.sort_by {|e| e[:paterno]}.each do |a| %>
            <tr>
              <td><%= a.nombre_completo_formal %></td>
              <td><%= a.rut %></td>
              <td><%= a.genero %></td>
              <td><%= a.estado %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div style="page-break-after: always;"></div>
  <% end %>
</div>
