<%= wicked_pdf_stylesheet_link_tag "reportes" %>
<%= javascript_include_tag "https://www.google.com/jsapi" %>
<%= wicked_pdf_javascript_include_tag "chartkick" %>

<div class="container">
  <div class="row">
    <div style="text-align: center;">
      <h3><%= @titulo %></h3>
    </div>
    <br><br>
    <div class="col-xs-6 col-xs-offset-3">
      <table class="table table-striped table-bordered">
        <tr>
          <th>Genero</th>
          <th>Cantidad</th>
        </tr>
        <tbody>
          <tr>
            <td>Masculino</td>
            <td><%= @genero['Masculino'] %></td>
          </tr>
          <tr>
            <td>Femenino</td>
            <td><%= @genero['Femenino'] %></td>
          </tr>
          <tr>
            <td>Total</td>
            <td><%=  @total %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-xs-6 col-xs-offset-2">
      <%= pie_chart Alumno.where(subencion: @tipo).group(:genero).count, width: "600px", height: "300px" %>
    </div>
  </div>
</div>
